.email-details {
    display: none;
    padding: 15px;
    border:5px solid black;
    border-radius:0 20px 20px 20px  ;
    flex-grow:1;
    /* width: 100vw; */
} 

@media (min-width: 769px) {
    .email-details {
        width: 30vw;
        display: block;
    }
}


.email-details .color {
    opacity: 0;
    position: absolute;
}
.email-details .text-container {
    text-overflow: clip;
    overflow-wrap: break-word;
    
    overflow-y: scroll;
    scroll-behavior: smooth;

    height: 90%;
}


.email-details.fullScreen {
    width: 100%;
    display: block;

}

.email-details.fullScreen .text-container {
    overflow-y: unset;
}

.email-details .btn img {
    width: 20px;
}