.email-compose {
    width: 100%;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    height: 90vh;
}

.email-compose .text-container {
    margin: 20px 0;
}

.text-input {
    padding: 10px;
    margin-left: 12px;
    width: calc(100% - 24px);
}

.textarea {
    padding: 10px;
    width: calc(100% - 24px);
}

@media (min-width: 789px) {
    .email-compose {
        width: 90%;
        margin: 0 auto;
        height: unset;
    }
    
}
