.email-list {
    overflow-y: scroll;
    scroll-behavior: smooth;

    border: 2px solid black;
    border-bottom: none; 
}

@media (min-width: 768px) {
    .email-list {
        border-radius: 20px 0 0 20px;
        border: 5px solid black;
        height: unset;
        height: 87vh;
    }

}