


.email-preview {
    background-color: gray;
    padding: 0px;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;
    width: 100%
}
.email-preview .btn{
    border-radius: 50%;
    z-index: 3;
}

.email-preview:hover {
    border-bottom: 3px solid orangered;
    padding: 5px 0; 
}

.open-details-div {
    background-color: transparent;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    left: 0;
    width: 80vw;
    height: 50px;
}

@media (min-width: 769px) {
    .open-details-div {
        display: none;
    }
    .email-preview .delete{
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
    }

    .email-preview:hover .delete {
        visibility: visible;
        opacity: 1
    }

    
}




.read-email {
    background-color: whitesmoke;
    font-weight: normal;
}

.email-preview .text-container {
    width: 75%;

}
.email-preview .subject {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}