
.email-filter {
    margin-bottom: 3px;
}
.email-filter .button-container {
    height: 38px;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.email-filter .button-container .filter-btn {
    padding: 7px;
    border-left: 1px solid white;
    text-align: left;
}

.email-filter .button-container .filter-btn:first-child {
    border: none;
}

.email-filter .input-container{
    /* padding:5px; */
    /* background-color: black; */
}
.email-filter .text-input{
    width: 100px;
    height: 35px;
}

.filtered-text {
    color: #ffbb33;
}

