
    .email-status {
        display: none;
    }
    
    @media (min-width: 768px) {
        .email-status {
            width: 100%;
            display: block;
            margin-top: 1px;
            background-color: white;
    }
    
}

.email-status .outer {
    background-color: #fff;
    padding: 1px;
    border: 2px solid black;
    border-radius: 20px;
    width: 100%;

}

.email-status .progress {
    height: 10px;
    transition: 0.6s;
    margin: 0;
}

/* .email-status span {
    position: relative;
    left: 50%;
} */
